.partners{
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow:hidden; 
  &__list{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  &__img{
    margin-left: 20px;
    margin-left: 20px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px){
  .partners{
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media screen and (min-width: 1200px){
  .partners{
    margin-left: 368px;
    margin-right: 371px;
  }
}