// mobile menu
.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 290px;
  height: 100vh;
  padding: 21px;
  background-color: var(--main-color);
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: linear;

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
//modal buttons
.modal__open{
  color: var(--second-color);
  border: none;
  background-color: var(--second-color);
  &:hover,
  &:focus{
    fill: var(--button-color);
    cursor: pointer;
  }
}
.modal__close {
  display: block;
  margin-left: auto;
  font-size: 14px;
  top: 8px;
  right: 8px;
  color: var(--second-color);
  border: none;
  cursor: pointer;
  background-color: var(--main-color);
  &-icon{
    fill: var(--backrgound-color);
      &:hover,
      &:focus{
    fill: var(--button-color);
    cursor: pointer;
  }
  }
}
.modal__close-icon {
  fill: var(--background-color);
}
//modal menu display
.menu {
  &__list {
    margin-top: 19px;
    margin-bottom: 25px;
    list-style: none;
  }

  &__item {
    padding-top: 11px;
    padding-bottom: 11px;
    border-top: 1px solid var(--background-color);
    border-bottom: 1px solid var(--background-color);
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.285;
    align-items: center;
    color: var(--background-color);
    text-decoration: none;
      &:hover,
      &:focus{
      color: var(--button-color);
      }
      &:hover .menu__icon,
      &:focus .menu_icon{
        fill: var(--button-color);
      }
  }
  &__icon{
    fill: var(--background-color);
    margin-right: 5px;
  }
}

@media screen and (min-width: 1200px){
  .modal__open{
    display: none;
  }
}