:root {
  --main-font: font-family: 'sofia-pro', sans-serif;
  --second-font: font-family: 'Rubik', sans-serif;
  --main-color: #000000;
  --second-color: #FFFFFF;
  --button-color: #920303;
  --background-color: #E5E5E5;
}